@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

.table-custom {
	font-size: 12px;
}
.panel-header {
	font-size: 14px;
	font-weight: bolder;
}
 .panel-heading span
    {
        margin-top: -20px;
        font-size: 15px;
    }

    .row
    {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable
    {
        cursor: pointer;
    }
.wrap {
    width: 100%;
}

.wrap table {
    width: 100%;
    table-layout: fixed;
}

.wrap table tr td {
    padding: 5px;
    border: 1px solid #ededed;
    width: 100px;
    word-wrap: break-word;
}

.wrap table.head tr th {
    background: #ededed;
    height: 30px;
}

.inner_table {
    max-height: 100px;
    overflow-y: auto;
} 

.inner_table_large {
    max-height: 300px;
    overflow-y: auto;
} 
 #cy {
	height: 180px;
	width: 100%;
	overflow: hidden;
	border: 1px solid 	#E0E0E0;
}

@media (min-height:  450px) { #cy { height: 250px; width: 100%; overflow: hidden;} }
@media (min-height:  500px) { #cy { height: 300px; width: 100%; overflow: hidden;} }
@media (min-height:  550px) { #cy { height: 350px; width: 100%; overflow: hidden;} }
@media (min-height:  600px) { #cy { height: 400px; width: 100%; overflow: hidden;} }
@media (min-height:  650px) { #cy { height: 500px; width: 100%; overflow: hidden;} }
@media (min-height:  700px) { #cy { height: 500px; width: 100%; overflow: hidden;} }
@media (min-height:  750px) { #cy { height: 500px; width: 100%; overflow: hidden;} }
@media (min-height:  800px) { #cy { height: 550px; width: 100%; overflow: hidden;} }
@media (min-height:  850px) { #cy { height: 550px; width: 100%; overflow: hidden;} }
@media (min-height:  900px) { #cy { height: 600px; width: 100%; overflow: hidden;} }
@media (min-height:  950px) { #cy { height: 650px; width: 100%; overflow: hidden;} }
@media (min-height: 1000px) { #cy { height: 700px; width: 100%; overflow: hidden;} }
@media (min-height: 1050px) { #cy { height: 750px; width: 100%; overflow: hidden;} }
@media (min-height: 1100px) { #cy { height: 800px; width: 100%; overflow: hidden;} }
.relations {
	top:75%;
	width: 100%;
	overflow: hidden;
	font-size:12px;
	border:none;
}


@media (min-width: 768px) {

    .brand-pills > li > a {
        border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    }
    
    li.brand-nav.active a:after{
    	content: " ";
    	display: block;
    	width: 0;
    	height: 0;
    	border-top: 20px solid transparent;
    	border-bottom: 20px solid transparent;
    	border-left: 9px solid #428bca;
    	position: absolute;
    	top: 50%;
    	margin-top: -20px;
    	left: 100%;
    	z-index: 2;
    }
}
td.details-control {
    background: url('../resources/images/red.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/images/blue.png') no-repeat center center;
}

::-webkit-file-upload-button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
}

  .select_join {
   
width: 170px;
   height: 28px;
   overflow: hidden;
   border: gray 1px solid;
-webkit-border-radius: 3px;
background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
border-radius: 3px;
-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
box-shadow: inset 0px 0px 10px 1px #FEFEFE;
   }
.select_join select {
  
   background: transparent;
   width: 170px;
   font-size:12pt;
   color:black;
   border: 0;
   border-radius: 0;
   height: 28px;
   -webkit-appearance: none;
   
   }
   .select_join select:focus {
    outline: none;

}